header {
    width: 100%;
    background-color: cornflowerblue;
}

header li {
    display: inline-block;
    margin-left: 15px;
}

.header-wrap {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

input {
    margin-top: 15px;
}

main {
    display: flex;
}

.content {
    width: 100%;
    margin-top: 40px;
}

h1 {
    text-align: center;
}

.content {
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: auto;
}

.contentBlock {
    display: inline-block;
    width: 180px;
    height: 100px;
    background-color: darkgray;
    margin: 5px;
}

@media screen and (max-width: 800px) {
    .contentBlock{
        display: inline-block;
        width: 150px;
        height: 70px;
        background-color: darkgray;
        margin: 5px;
    }
    input {
        display: none;
    }
}